:root {
  --header-bcg: #007cba;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
  --cyan-8: #006d75;
  --primary-text: #ffffff;
  --footer-bcg: #f0f2f5;
  --text-black : #1c1f21;
  --conteny-bcg: #fff;
}

.ant-layout-header {
  background: var(--header-bcg) !important;
  color: var(--primary-text);
  height: 15vh;
  text-align: center;
  vertical-align: middle;
}

.ant-layout-content {
  min-height: 74vh !important;
  background: var(--conteny-bcg);
  /* max-width: 1200px; */
  padding: 0 10px 0 10px;
}

.ant-layout-footer {
  min-height: 15vh !important;
  background: var(--footer-bcg) !important;
}

span.anticon.anticon-loading {
  font-size:  200px !important;
  margin:  0 auto !important;
  left : 40vw !important;
  top: 30vh !important;
}

.ant-spin-spinning{
  position: absolute;
 
}
